{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h4>Contact Information</h4>
            <p><strong>Email:</strong> contact@onlinestore.com</p>
            <p><strong>Address:</strong> 123 Main Street, Medellín, Colombia</p>
            <p><strong>Phone:</strong> +57 300 123 4567</p>
        </div>
    </div>
</div>
{% endblock %}